@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
@font-face {
    font-family: Love;
    src: url(Love.ttf);
}
body {
    font-family: pangolin;
}
h1 {
    font-family: Love;
}